{% extends 'base.html' %}

{% block content %}
<div class="row align-items-md-stretch pt-5 w-75 mx-auto">

	{% if posts == [] %}
	<div class="alert alert-warning text-center" role="alert">
		<h3>No posts found in Database.</h3>
	</div>
	{% endif %}

	{% for post in posts %}


	<div class="col-md-6 mb-4">
		<div class="card h-100 border rounded-3" id="blog_posts" >
			<div class="card-title p-3 m-0">
			{% if g.user['id'] == post['author_id'] %}
			<div class="float-end">
				<a class="text-decoration-none edit_btn" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
			</div>
			{% endif %}

			<h2>{{ post['title'] }}</h2>
			</div>

			<p class="text-secondary created_by m-0 px-3">
				by <strong class="text-primary">{{ post['username'] }}</strong> on {{ post['created'].strftime('%Y-%m-%d') }}
			</p>

			<p class="card-body indent">{{ post['body'] }}</p>

			<div class="card-footer p-1">
				<a href="#" class="like_post">
					<i class="fas fa-thumbs-up fa-md" aria-hidden="true"></i>
					{% if post['likes'] != None %}
 					{{ post['likes'] }}
					{% endif %}
				</a>
			</div>
		</div>
	</div>

	{% endfor %}

</div>
{% endblock %}