{% extends 'base.html' %}

{% block content %}
<div class="row align-items-md-stretch pt-5 w-75 mx-auto">

	{% if posts == [] %}
	<div class="alert alert-warning text-center" role="alert">
		<h3>No posts found in Database.</h3>
	</div>
	{% endif %}

	{% for post in posts %}
	<div class="col-md-6 mb-4">
		<div class="h-100 p-4  bg-light border rounded-3">
			{% if g.user['id'] == post['author_id'] %}
			<div class="float-end">
				<a class="action py-0 text-decoration-none" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
			</div>
			{% endif %}
			<h2>{{ post['title'] }}</h2>
			<p class="text-secondary" style="font-size: 0.75rem; text-align: end;">
				by <strong class="text-primary">{{ post['username'] }}</strong> on {{ post['created'].strftime('%Y-%m-%d') }}
			</p>
			<p>{{ post['body'] }}</p>
			<span class=""  style="vertical-align: -1em">Likes {{ post['likes'] }}</span>

		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}