{% extends 'base.html' %}

{% block content %}
<div class="p-5 m-5 bg-light border rounded-3 w-75 mx-auto">
	<div class="container-fluid">
		<h1 class="display-5 fw-bold">About Me</h1>
		<p class="mt-3">
			Lorem ipsum dolor amet mustache knausgaard +1, blue bottle waistcoat tbh semiotics artisan synth
			stumptown gastropub cornhole celiac swag. Brunch raclette vexillologist post-ironic glossier ennui XOXO
			mlkshk godard pour-over blog tumblr humblebrag. Blue bottle put a bird on it twee prism biodiesel
			brooklyn. Blue bottle ennui tbh succulents.
		</p>
	</div>
</div>
{% endblock %}

