{% extends 'base.html' %}

{% block content %}

	<div class="p-5 m-5 d-flex justify-content-center">

	{% for author in authors %}

			  <a class="col-lg-4 text-center w-25 border author_card"
			     href="{{ url_for('authors.authors_by_username', username=author['username']) }}">
				<svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" fill="currentColor"
					 class="bi bi-person-circle" viewBox="0 0 16 16">
				  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
				  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
				</svg>
				<h2>{{ author['username'] }}</h2>
				<h5 class="text-muted">Role</h5>
				<p class="py-2 m-0">Subtitle</p>
			  </a>
			  <!-- /.col-lg-4 -->
	{% endfor %}

	</div>

{% endblock %}
