  <footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <p class="text-muted text-center mb-0">
        © Created by Denis Schiopu
    </p>
  </div>
</footer>
  <!-- Bootstrap core JavaScript -->
  <script src="{‌{ url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
  <script src="{‌{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

  <!-- Custom scripts for this template -->
  <script src="{‌{ url_for('static', filename='js/clean-blog.min.js')}}"></script>
</body>
</html>
